.rasa
/addons
cqhttp
/models
log
/pipeline/bert-base-chinese
/.env
/*.env
/test
/web
/extra
*.pyc
*.py[cod]
*$py.class

# C extensions
*.so

message/

.env
.idea
.vscode
.idea
.chroma
tracker_store.db
rasa.log
**/__pycache__
